<h1> Here is all of your meetings! </h1>

<div>
    <p> Meetings you are hosting: </p>
    <ul>
    <% @meetings.each do |meeting| %>
    <li> Title: <%= link_to meeting.title, edit_meeting_path(@current_user, meeting) %> - when? <%= meeting.time %><br></li>
    <% end %>
    </ul>
</div>
<div>
    <p> Meetings you are attending: </p>
    <ul>
        <% @registrations.each do |registration| %>
        <li> Title: <%= link_to registration.meeting.title, edit_registration_path(@current_user, registration) %> - when? <%= registration.meeting.time %><br></li>
        <% end %>
    </ul>
</div>