<h1> Before we get started, select a category! </h1>

<%= form_tag("/meetings/new/form", :method => "get") do %>
<%= label_tag :category %>
<%= select_tag(:category_id, options_for_select(@categories.map {|category| category.name})) %><br>
<%= submit_tag("Next")%>
<% end %>
