<h1>Select A Category:</h1>

<%= form_for @meeting do |f| %>
<%= f.label :category %> <%#this list is way too long. parse through category first.%>
<%= f.collection_select :category_id, @categories, :id, :name %><br>
<%= f.submit "Next"%>
<% end %>
