
<div class="user-show">
<h2> Before we get started, select a category!</h2>
<br>
<%= form_tag("/meetings/new/form", :method => "get") do %>
<%= label_tag "Category:" %>
<%= select_tag(:category_id, options_for_select(@categories.map {|category| category.name})) %><br><br>
<%= submit_tag("Next")%>
<% end %>
</div>