
<div class="user-show">
<h3> <%= @subcategory.name %> </h3>

<ul>
    <% @meetings.each do |meeting| %>
        <li> <%= link_to meeting.title, meeting_path(meeting) %> - <%= meeting.datetime %> </li>
    <% end %>
</ul>
</div>


<%# THIS PAGE IS SUBCATEGORIES INSIDE "REGISTERING FOR A MEETING" %>