/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap. 
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.meetings {
    margin-left: 15%;
    margin-top: 5%;
    background-color: #fefebe;
    padding: 40px;
    padding-left: 40px;
    width: 900px;
}

.categories {
    margin-left: 5%;
    margin-top: 5%;
    display: table;
    clear: both;
}

.table {
    // display: flex;
    width: 90%;
}
tr {
    width: 100%;
}

td {
    border: none;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }

.title {
    font-size: 50px;
}


ul {
    list-style: none;
}

.text-area {
    width: 450px;
    height: 200px;
    outline: none;
}

.text-field {
    width: 450px;
    outline:none;
}

.user-show {
    margin-left: 20%;
    margin-top: 5%;
    background-color: #ffffff;
    padding: 40px;
    padding-left: 40px;
    width: 700px;
}

.user-profile {
    margin-left: 20%;
    margin-top: 5%;
    background-color: #ffe7e7;
    padding: 40px;
    padding-left: 40px;
    width: 700px;
}

.buttonTo {
    margin-right: 1%;
    float: right;
    background-color: #ffffff;
    border-radius: 5px;
    outline: none;
}

.buttonTo:hover {
    color: #FFFFFF;
    background-color: #b5b5b5;
    // transition: all 0.2s;
}

h2 {
    font-size: 45px;
    font-family: Bebas Neue;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}


body {
    font-family: Arial;
    font-size: 18px;
    background-image: url("https://images.unsplash.com/photo-1596367407372-96cb88503db6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    // box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;

}



.navbar {
    background-color: #ffffff;
    font-size: 16px;
    border: none;
}

.navbar-default .navbar-brand {
    color: rgb(53, 53, 53);
    font-size: 32px;
}

.navbar-header {
    font-family: 'Berkshire Swash', cursive;
}


.banner {
    margin-top: 0;
}

.box {
    text-align: center;
    border-width: 2px;
    font-size: 18px;
    line-height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
    span {
        color: #FFF;
    }
}

.art {
    background: url("https://images.unsplash.com/photo-1580060405691-3329f19f6979?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=200&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.book {
    background: url("https://images.unsplash.com/photo-1529158062015-cad636e205a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=200&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.career {
    background: url("https://images.unsplash.com/photo-1497215842964-222b430dc094?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=200&w=200&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.education {
    background: url("https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=200&w=200&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.fashion {
    background: url("https://images.unsplash.com/photo-1512436991641-6745cdb1723f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.food {
    background: url("https://images.unsplash.com/photo-1564759191971-5f7a21a3d42d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.game {
    background: url("https://images.unsplash.com/photo-1588586767655-826cafa4a787?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1056&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.health {
    background: url("https://images.unsplash.com/photo-1538805060514-97d9cc17730c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.hobbie {
    background: url("https://images.unsplash.com/photo-1584992236310-6edddc08acff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.lgbt {
    background: url("https://images.unsplash.com/photo-1561612217-e5147162fd31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1443&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.language {
    background: url("https://images.unsplash.com/photo-1518169998863-07b9ca9294ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.politics {
    background: url("https://images.unsplash.com/photo-1569225022281-f652746229fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.movie {
    background: url("https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1040&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.music {
    background: url("https://images.unsplash.com/photo-1487180144351-b8472da7d491?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.outdoor {
    background: url("https://images.unsplash.com/photo-1521336575822-6da63fb45455?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.parent {
    background: url("https://images.unsplash.com/photo-1543342384-1f1350e27861?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.signup_link{
    font-size: 20px;
}



.button {
    font: bold 18px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  