/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap. 
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.meetings {
    margin-left: 10%;
    margin-top: 5%;
    background-color: #fefebe;
    padding: 40px;
    padding-left: 40px;
    width: 85%;
}

.categories {
    margin-left: 5%;
    margin-top: 5%;
    display: table;
    clear: both;
}

.table {
    // display: flex;
    width: 90%;
}
tr {
    width: 100%;
}

td {
    border: none;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }

.title {
    font-size: 50px;
}


ul {
    list-style: none;
}

.text-area {
    width: 450px;
    height: 200px;
    outline: none;
}

.text-field {
    width: 450px;
    outline:none;
}

.user-show {
    margin-left: 10%;
    margin-top: 5%;
    background-color: #ffffff;
    padding: 40px;
    padding-left: 40px;
    width: 700px;
}

.edit-profile {
    margin-left: 10%;
    margin-top: 5%;
    background-color: #bfffea;
    padding: 40px;
    padding-left: 40px;
    width: 700px;
}

.user-profile {
    margin-left: 10%;
    margin-top: 5%;
    background-color: #ffe7e7;
    padding: 40px;
    padding-left: 40px;
    width: 700px;
}

.buttonTo {
    margin-right: 1%;
    float: right;
    background-color: #ffffff;
    border-radius: 5px;
    outline: none;
}

.buttonTo:hover {
    color: #FFFFFF;
    background-color: #b5b5b5;
    // transition: all 0.2s;
}

h2 {
    font-size: 45px;
    font-family: Bebas Neue;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h3 {
    font-size: 25px;
    font-family: Bebas Neue;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

body {
    font-family: Arial;
    font-size: 18px;
    background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    // box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;

}



.navbar {
    background-color: #ffffff;
    font-size: 16px;
    border: none;
}

.navbar-default .navbar-brand {
    color: rgb(53, 53, 53);
    font-size: 32px;
}

.navbar-header {
    font-family: 'Berkshire Swash', cursive;
}


.banner {
    margin-top: 0;
}

.box {
    text-align: center;
    border-width: 2px;
    font-size: 18px;
    line-height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
    span {
        color: #FFF;
    }
}

.blackent {
    background: url("https://techcrunch.com/wp-content/uploads/2020/06/GettyImages-1128201585.jpg?w=1390&crop=1");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.skincare {
    background: url("https://images.unsplash.com/photo-1595514446083-236b9985a0e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.healthyeating {
    background: url("https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.sushi {
    background: url("https://images.unsplash.com/photo-1579871494447-9811cf80d66c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.boardgames {
    background: url("https://images.unsplash.com/photo-1529699263800-6030cf843dc1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.yoga {
    background: url("https://images.unsplash.com/photo-1552196527-bffef41ef674?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=926&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.homedecorating {
    background: url("https://images.unsplash.com/photo-1513519245088-0e12902e5a38?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.animalrights {
    background: url("https://images.unsplash.com/photo-1487541711790-6d41c9d873dd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1347&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.womensrights {
    background: url("https://images.unsplash.com/photo-1504194921103-f8b80cadd5e4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.jazz {
    background: url("https://images.unsplash.com/photo-1415201364774-f6f0bb35f28f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.backpacking {
    background: url("https://images.unsplash.com/photo-1537430802614-118bf14be50c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.camping {
    background: url("https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.homeschooling {
    background: url("https://images.unsplash.com/photo-1560785477-d43d2b34e0df?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1267&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.wfhparents {
    background: url("https://images.unsplash.com/photo-1524508762098-fd966ffb6ef9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.anxiety {
    background: url("https://images.unsplash.com/photo-1595178156906-2396ef837b0f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    box-shadow: inset 0 0 0 200px rgba(50,50,50,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    
}


.signup_link{
    font-size: 20px;
}



.button {
    font: bold 18px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

#form {
    margin-left: 10%;
    margin-top: 5%;
    max-width: 500px;
}