<h1> What are you interested in? </h1>

<% @categories.map do |category| %>
    <%= category.name %>
    <ul>
    <% category.subcategories.map do |subcategory| %>
        <li> <%= link_to subcategory.name, subcategory_path(subcategory) %> </li>
        <% end %>
    </ul>
<% end %>

