
<div class="container-fluid">
<h2> What are you interested in? </h2>

<% @categories.map do |category| %>
    <h3><%= category.name %></h3>
    <ul>
    <% category.subcategories.map do |subcategory| %>
        <li> <%= link_to subcategory.name, subcategory_path(subcategory) %> </li>
        <% end %>
    </ul>
<% end %>
</div>

