
<div class="categories">

    <div class="title">
        <p> What are you interested in? </p>
    </div>

    <div class="table">
        
            <% @categories.map do |category| %>
            <table>
                <tr><th><h3><%= category.name %></h3></th></tr>

                        <% category.subcategories.each do |subcategory| %>
                            <tr><td><%= link_to subcategory.name, subcategory_path(subcategory) %> </td></td>
                            <% end %>
            </table>
            <% end %>
        
    </div>


</div>

