<h1>Select Subcategory:</h1>


<%#= form_for @category do |f| %>
<%#= f.label :subcategory %>
<%#= f.collection_select :subcategories, @category.subcategories, :id, :name %><br>
<%#= f.label :title %>
<%#= f.text_field :title %><br>
<%#= f.label :description %>
<%#= f.text_area :description %><br>
<%#= f.label :time %>
<%#= f.datetime_select(:time, :default => { :hour => 23, :minute => 59 }) %><br>
<%#= f.submit "Create Meeting"%>
<%# end %>

<%= form_for @category, :url => url_for(:controller => 'meetings', :action => 'post') do |f| %>
<%= f.label :subcategory %> 
<%= f.collection_select :subcategories, @category.subcategories, :id, :name %><br>
<%= f.submit "Create Meeting"%>
<% end %>